In [16]:
import pandas as pd
from sqlalchemy import create_engine

In [17]:
covid_data = "./resources/owid-covid-data.csv"

covid_df = pd.read_csv(covid_data)

covid_df_us = covid_df.loc[covid_df["location"] == "United States"]
covid_df_us

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
76767,USA,North America,United States,2020-01-22,1.0,NaN,NaN,NaN,NaN,NaN,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926
76768,USA,North America,United States,2020-01-23,1.0,0.0,NaN,NaN,NaN,NaN,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926
76769,USA,North America,United States,2020-01-24,2.0,1.0,NaN,NaN,NaN,NaN,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926
76770,USA,North America,United States,2020-01-25,2.0,0.0,NaN,NaN,NaN,NaN,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926
76771,USA,North America,United States,2020-01-26,5.0,3.0,NaN,NaN,NaN,NaN,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77208,USA,North America,United States,2021-04-07,30922386.0,75038.0,65936.000,559202.0,2570.0,989.286,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926
77209,USA,North America,United States,2021-04-08,31002264.0,79878.0,66056.571,560202.0,1000.0,979.571,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926
77210,USA,North America,United States,2021-04-09,31084962.0,82698.0,67896.000,561074.0,872.0,970.000,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926
77211,USA,North America,United States,2021-04-10,31151495.0,66533.0,68404.429,561783.0,709.0,969.429,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926
77212,USA,North America,United States,2021-04-11,31197873.0,46378.0,70039.571,562066.0,283.0,969.286,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926

In [18]:
covid_usa_df = covid_df_us.dropna(subset = ['total_cases', 'new_cases', 'total_deaths'])

covid_usa_df[['date','total_cases', 'new_cases', 'total_deaths', 'new_deaths']]

             date  total_cases  new_cases  total_deaths  new_deaths
76805  2020-02-29         25.0        8.0           1.0         1.0
76806  2020-03-01         32.0        7.0           1.0         0.0
76807  2020-03-02         55.0       23.0           6.0         5.0
76808  2020-03-03         74.0       19.0           7.0         1.0
76809  2020-03-04        107.0       33.0          11.0         4.0
...           ...          ...        ...           ...         ...
77208  2021-04-07   30922386.0    75038.0      559202.0      2570.0
77209  2021-04-08   31002264.0    79878.0      560202.0      1000.0
77210  2021-04-09   31084962.0    82698.0      561074.0       872.0
77211  2021-04-10   31151495.0    66533.0      561783.0       709.0
77212  2021-04-11   31197873.0    46378.0      562066.0       283.0

[408 rows x 5 columns]

In [19]:
us_vaccination = "./resources/us_state_vaccinations.csv"

us_vaccination_df = pd.read_csv(us_vaccination)
us_vaccination_df

us_vaccination_df = us_vaccination_df.dropna(subset = ['total_distributed', 'people_fully_vaccinated', 'daily_vaccinations_raw'])
us_vaccination_df

,date,location,total_vaccinations,total_distributed,people_vaccinated,people_fully_vaccinated_per_hundred,total_vaccinations_per_hundred,people_fully_vaccinated,people_vaccinated_per_hundred,distributed_per_hundred,daily_vaccinations_raw,daily_vaccinations,daily_vaccinations_per_million,share_doses_used
1,2021-01-13,Alabama,84040.0,378975.0,74792.0,0.19,1.71,9245.0,1.53,7.73,5906.0,5906.0,1205.0,0.222
3,2021-01-15,Alabama,100567.0,444650.0,86956.0,0.28,2.05,13488.0,1.77,9.07,8267.0,7478.0,1525.0,0.226
7,2021-01-19,Alabama,130795.0,444650.0,114319.0,0.33,2.67,16346.0,2.33,9.07,7557.0,7523.0,1534.0,0.294
8,2021-01-20,Alabama,139200.0,483275.0,121113.0,0.37,2.84,17956.0,2.47,9.86,8405.0,7880.0,1607.0,0.288
9,2021-01-21,Alabama,165919.0,493125.0,144429.0,0.44,3.38,21345.0,2.95,10.06,26719.0,10517.0,2145.0,0.336
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5933,2021-04-08,Wyoming,288814.0,436025.0,169230.0,20.75,49.90,120094.0,29.24,75.34,228.0,2655.0,4587.0,0.662
5934,2021-04-09,Wyoming,289028.0,447855.0,169409.0,20.78,49.94,120246.0,29.27,77.38,214.0,2633.0,4549.0,0.645
5935,2021-04-10,Wyoming,289340.0,450525.0,169683.0,20.83,49.99,120534.0,29.32,77.84,312.0,2640.0,4561.0,0.642
5936,2021-04-11,Wyoming,310702.0,450525.0,180223.0,22.80,53.68,131933.0,31.14,77.84,21362.0,3431.0,5928.0,0.690
5937,2021-04-12,Wyoming,310765.0,450525.0,180275.0,22.81,53.70,131994.0,31.15,77.84,63.0,3400.0,5875.0,0.690

In [21]:
usa_vaccination_df = us_vaccination_df[['date','total_distributed', 'people_fully_vaccinated']]
usa_vaccination_df

            date  total_distributed  people_fully_vaccinated
1     2021-01-13           378975.0                   9245.0
3     2021-01-15           444650.0                  13488.0
7     2021-01-19           444650.0                  16346.0
8     2021-01-20           483275.0                  17956.0
9     2021-01-21           493125.0                  21345.0
...          ...                ...                      ...
5933  2021-04-08           436025.0                 120094.0
5934  2021-04-09           447855.0                 120246.0
5935  2021-04-10           450525.0                 120534.0
5936  2021-04-11           450525.0                 131933.0
5937  2021-04-12           450525.0                 131994.0

[5423 rows x 3 columns]

In [22]:
vaccination_m_df = "./resources/vaccinations-by-manufacturer.csv"

vaccination_m_df = pd.read_csv(vaccination_m_df)

vaccination_us_df = vaccination_m_df.loc[vaccination_m_df["location"] == "United States"]
vaccination_us_df

           location        date          vaccine  total_vaccinations
2061  United States  2021-01-12          Moderna             3835859
2062  United States  2021-01-12  Pfizer/BioNTech             5488697
2063  United States  2021-01-13          Moderna             4249795
2064  United States  2021-01-13  Pfizer/BioNTech             6025872
2065  United States  2021-01-15          Moderna             5122662
...             ...         ...              ...                 ...
2261  United States  2021-04-10          Moderna            82622178
2262  United States  2021-04-10  Pfizer/BioNTech            94715143
2263  United States  2021-04-11  Johnson&Johnson             6453740
2264  United States  2021-04-11          Moderna            83847244
2265  United States  2021-04-11  Pfizer/BioNTech            96586783

[205 rows x 4 columns]

In [23]:
vaccination_usa_df = vaccination_us_df.dropna(subset = ['vaccine', 'total_vaccinations'])
vaccination_usa_df

           location        date          vaccine  total_vaccinations
2061  United States  2021-01-12          Moderna             3835859
2062  United States  2021-01-12  Pfizer/BioNTech             5488697
2063  United States  2021-01-13          Moderna             4249795
2064  United States  2021-01-13  Pfizer/BioNTech             6025872
2065  United States  2021-01-15          Moderna             5122662
...             ...         ...              ...                 ...
2261  United States  2021-04-10          Moderna            82622178
2262  United States  2021-04-10  Pfizer/BioNTech            94715143
2263  United States  2021-04-11  Johnson&Johnson             6453740
2264  United States  2021-04-11          Moderna            83847244
2265  United States  2021-04-11  Pfizer/BioNTech            96586783

[205 rows x 4 columns]

In [44]:
date = (vaccination_usa_df['date']> '2021-01-01') & (vaccination_usa_df['date']< '2021-02-01')
jan_vaccination_df = vaccination_usa_df.loc[date].groupby(['vaccine'])

jan_vaccination_df.count()

                 location  date  total_vaccinations
vaccine
Moderna                16    16                  16
Pfizer/BioNTech        16    16                  16

In [45]:
date = (vaccination_usa_df['date']> '2021-02-01') & (vaccination_usa_df['date']< '2021-03-01')
feb_vaccination_df = vaccination_usa_df.loc[date].groupby(['vaccine'])

feb_vaccination_df.count()

                 location  date  total_vaccinations
vaccine
Moderna                26    26                  26
Pfizer/BioNTech        26    26                  26

In [25]:
vaccination_usa_df['date'].str.split(pat='-')

2061    [2021, 01, 12]
2062    [2021, 01, 12]
2063    [2021, 01, 13]
2064    [2021, 01, 13]
2065    [2021, 01, 15]
             ...
2261    [2021, 04, 10]
2262    [2021, 04, 10]
2263    [2021, 04, 11]
2264    [2021, 04, 11]
2265    [2021, 04, 11]
Name: date, Length: 205, dtype: object

In [ ]:
# Create a filtered dataframe from specific columns
covid_df = covid_df.melt(id_vars=["location"], 
        var_name="Date")

covid_transformed_df = covid_df.rename(columns={"location":"location",
                                                                 "Date":"date"})
                                                            
#hospital_transformed_df.drop_duplicates("id", inplace = True)
covid_transformed_df.reset_index()

covid_transformed_df.head()

In [ ]:
# county_cols = ["fips","county","state_code","date","deaths", "cases"]

# county_transformed = county_df[["fips","county","state_code","date","deaths", "cases"]]


# # Rename the column headers
# county_transformed.drop_duplicates("fips", inplace = True)
# county_transformed.reset_index
# county_transformed.head()

In [ ]:
##SCHEMA -- SQL

# create table hospital_visits(
# id int primary key,
# fips int,
# date date,
# visits int
#  )


# create table us_county(
# id int primary key,
# fips int,
# county text,
# state_code text,
# date date,
# deaths int,
# cases int	
# );

# select * from us_county
# select * from hospital_visits

# SELECT hospital_visits.fips, hospital_visits.date, hospital_visits.visits,
# us_county.county, us_county.state_code, us_county.date,
# us_county.deaths, us_county.cases
# FROM hospital_visits
# INNER JOIN us_county ON hospital_visits.fips = us_county.fips;

In [ ]:
connection_string = "postgres:1Ax2by3cz$@localhost:5432/hospital_visits"
engine = create_engine(f'postgresql://{connection_string}')

In [ ]:
engine.table_names()

In [ ]:
rmed_df.to_sql(name='hospital_visits', con=engine, if_exists='append', index_label = 'id')

In [ ]:
county_transformed.to_sql(name='us_county', con=engine, if_exists='append', index_label ='id')
In [ ]: