# COVID-19 ETL

This notebook is used to load, clean COVID-19 data and export it to PostgreSQL. The data contains:

* Data on COVID-19 (coronavirus) by Our World in Data: https://github.com/owid/covid-19-data/tree/master/public/data
* Data on COVID-19 (coronavirus) vaccinations by Our World in Data: https://github.com/owid/covid-19-data/tree/master/public/data/vaccinations
* COVID-19 Case Surveillance Public Use Data with Geography: https://data.cdc.gov/Case-Surveillance/COVID-19-Case-Surveillance-Public-Use-Data-with-Ge/n8mc-b4w4

In [4]:
import pandas as pd

## Global COVID-19 Data
The goal of this part is to divide the global data set into 3 parts:
* Stats vs Cases data
* Stats vs Tests data
* Stats vs Vaccines data

At the end of each part there will be a clean dataframe that will be uploaded to PostgreSQL.

In [7]:
covid_data = "./resources/owid-covid-data.csv"

covid_data_df = pd.read_csv(covid_data)
covid_data_df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80981,ZWE,Africa,Zimbabwe,2021-04-07,36984.0,18.0,14.571,1531.0,0.0,1.143,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
80982,ZWE,Africa,Zimbabwe,2021-04-08,37052.0,68.0,22.286,1532.0,1.0,1.286,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
80983,ZWE,Africa,Zimbabwe,2021-04-09,37147.0,95.0,34.857,1535.0,3.0,1.571,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
80984,ZWE,Africa,Zimbabwe,2021-04-10,37273.0,126.0,51.714,1538.0,3.0,2.000,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
80985,ZWE,Africa,Zimbabwe,2021-04-11,37288.0,15.0,52.143,1538.0,0.0,1.857,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571

## Global Stats vs Cases data

In [8]:
# Supress scientific notation by forcing formatting 
pd.options.display.float_format = '{:.3f}'.format

# Unefficient way of finding the last row of each country and inserting it into a new dataframe
# Ideally, making a list and appending it to a new dataframe would be much more efficient
# But there are so many columns that time-wise this takes less time

countries = covid_data_df["location"].unique().tolist()
stats = pd.DataFrame()
df = pd.DataFrame()

# Make dataframe from the total number of cases
for country in countries:
    df = covid_data_df.loc[covid_data_df["location"] == country]
    num_cases = df["total_cases"].argmax()
    df = df.iloc[num_cases].to_frame().T
    stats = pd.concat([stats,df])
    
del df

In [9]:
stats = stats.dropna(subset=['total_cases'])
stats

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
412,AFG,Asia,Afghanistan,2021-04-11,57160.000,16.000,69.143,2521.000,0.000,3.429,...,1803.987,NaN,597.029,9.590,NaN,NaN,37.746,0.500,64.830,0.511
836,OWID_AFR,NaN,Africa,2021-04-11,4350198.000,9684.000,11325.571,115710.000,288.000,265.286,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1248,ALB,Europe,Albania,2021-04-11,128393.000,238.000,266.000,2317.000,7.000,7.429,...,11803.431,1.100,304.195,10.080,7.100,51.200,NaN,2.890,78.570,0.795
1660,DZA,Africa,Algeria,2021-04-11,118516.000,138.000,127.714,3130.000,4.000,3.571,...,13913.839,0.500,278.364,6.730,0.700,30.400,83.741,1.900,76.880,0.748
2066,AND,Europe,Andorra,2021-04-11,12545.000,48.000,44.857,120.000,0.000,0.429,...,NaN,NaN,109.135,7.970,29.000,37.800,NaN,NaN,83.730,0.868
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79394,VNM,Asia,Vietnam,2021-04-11,2693.000,1.000,8.857,35.000,0.000,0.000,...,6171.884,2.000,245.465,6.000,1.000,45.900,85.847,2.600,75.400,0.704
79840,OWID_WRL,NaN,World,2021-04-11,136046624.000,690739.000,674669.286,2936364.000,8557.000,11871.000,...,15469.207,10.000,233.070,8.510,6.434,34.635,60.130,2.705,72.580,0.737
80207,YEM,Asia,Yemen,2021-04-11,5357.000,81.000,79.857,1049.000,18.000,14.714,...,1479.147,18.800,495.003,5.350,7.600,29.200,49.542,0.700,66.120,0.470
80597,ZMB,Africa,Zambia,2021-04-11,90029.000,111.000,157.000,1226.000,0.000,0.857,...,3689.251,57.500,234.499,3.940,3.100,24.700,13.938,2.000,63.890,0.584
80985,ZWE,Africa,Zimbabwe,2021-04-11,37288.000,15.000,52.143,1538.000,0.000,1.857,...,1899.775,21.400,307.846,1.820,1.600,30.700,36.791,1.700,61.490,0.571

In [10]:
# Total cases vs stats
countries_stats = stats[["iso_code", "continent", "location", "total_cases", "population", "population_density", "median_age", "aged_65_older", "aged_70_older", "gdp_per_capita", "extreme_poverty", "cardiovasc_death_rate"]]
countries_stats

,iso_code,continent,location,total_cases,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate
412,AFG,Asia,Afghanistan,57160.000,38928341.000,54.422,18.600,2.581,1.337,1803.987,NaN,597.029
836,OWID_AFR,NaN,Africa,4350198.000,1340598113.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1248,ALB,Europe,Albania,128393.000,2877800.000,104.871,38.000,13.188,8.643,11803.431,1.100,304.195
1660,DZA,Africa,Algeria,118516.000,43851043.000,17.348,29.100,6.211,3.857,13913.839,0.500,278.364
2066,AND,Europe,Andorra,12545.000,77265.000,163.755,NaN,NaN,NaN,NaN,NaN,109.135
...,...,...,...,...,...,...,...,...,...,...,...,...
79394,VNM,Asia,Vietnam,2693.000,97338583.000,308.127,32.600,7.150,4.718,6171.884,2.000,245.465
79840,OWID_WRL,NaN,World,136046624.000,7794798729.000,58.045,30.900,8.696,5.355,15469.207,10.000,233.070
80207,YEM,Asia,Yemen,5357.000,29825968.000,53.508,20.300,2.922,1.583,1479.147,18.800,495.003
80597,ZMB,Africa,Zambia,90029.000,18383956.000,22.995,17.700,2.480,1.542,3689.251,57.500,234.499
80985,ZWE,Africa,Zimbabwe,37288.000,14862927.000,42.729,19.600,2.822,1.882,1899.775,21.400,307.846

In [11]:
# Total cases vs more stats
more_countries_stats = stats[["iso_code", "continent", "location", "total_cases", "diabetes_prevalence", "female_smokers", "male_smokers", "hospital_beds_per_thousand", "life_expectancy", "human_development_index"]]
more_countries_stats

,iso_code,continent,location,total_cases,diabetes_prevalence,female_smokers,male_smokers,hospital_beds_per_thousand,life_expectancy,human_development_index
412,AFG,Asia,Afghanistan,57160.000,9.590,NaN,NaN,0.500,64.830,0.511
836,OWID_AFR,NaN,Africa,4350198.000,NaN,NaN,NaN,NaN,NaN,NaN
1248,ALB,Europe,Albania,128393.000,10.080,7.100,51.200,2.890,78.570,0.795
1660,DZA,Africa,Algeria,118516.000,6.730,0.700,30.400,1.900,76.880,0.748
2066,AND,Europe,Andorra,12545.000,7.970,29.000,37.800,NaN,83.730,0.868
...,...,...,...,...,...,...,...,...,...,...
79394,VNM,Asia,Vietnam,2693.000,6.000,1.000,45.900,2.600,75.400,0.704
79840,OWID_WRL,NaN,World,136046624.000,8.510,6.434,34.635,2.705,72.580,0.737
80207,YEM,Asia,Yemen,5357.000,5.350,7.600,29.200,0.700,66.120,0.470
80597,ZMB,Africa,Zambia,90029.000,3.940,3.100,24.700,2.000,63.890,0.584
80985,ZWE,Africa,Zimbabwe,37288.000,1.820,1.600,30.700,1.700,61.490,0.571

In [12]:
merged_country_stats = countries_stats.merge(more_countries_stats, how="inner", on=["iso_code","continent","location","total_cases"])
merged_country_stats

,iso_code,continent,location,total_cases,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,57160.000,38928341.000,54.422,18.600,2.581,1.337,1803.987,NaN,597.029,9.590,NaN,NaN,0.500,64.830,0.511
1,OWID_AFR,NaN,Africa,4350198.000,1340598113.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ALB,Europe,Albania,128393.000,2877800.000,104.871,38.000,13.188,8.643,11803.431,1.100,304.195,10.080,7.100,51.200,2.890,78.570,0.795
3,DZA,Africa,Algeria,118516.000,43851043.000,17.348,29.100,6.211,3.857,13913.839,0.500,278.364,6.730,0.700,30.400,1.900,76.880,0.748
4,AND,Europe,Andorra,12545.000,77265.000,163.755,NaN,NaN,NaN,NaN,NaN,109.135,7.970,29.000,37.800,NaN,83.730,0.868
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,VNM,Asia,Vietnam,2693.000,97338583.000,308.127,32.600,7.150,4.718,6171.884,2.000,245.465,6.000,1.000,45.900,2.600,75.400,0.704
195,OWID_WRL,NaN,World,136046624.000,7794798729.000,58.045,30.900,8.696,5.355,15469.207,10.000,233.070,8.510,6.434,34.635,2.705,72.580,0.737
196,YEM,Asia,Yemen,5357.000,29825968.000,53.508,20.300,2.922,1.583,1479.147,18.800,495.003,5.350,7.600,29.200,0.700,66.120,0.470
197,ZMB,Africa,Zambia,90029.000,18383956.000,22.995,17.700,2.480,1.542,3689.251,57.500,234.499,3.940,3.100,24.700,2.000,63.890,0.584
198,ZWE,Africa,Zimbabwe,37288.000,14862927.000,42.729,19.600,2.822,1.882,1899.775,21.400,307.846,1.820,1.600,30.700,1.700,61.490,0.571

In [13]:
# Global cases data 
stats_cases = stats[["iso_code", "continent", "location", "total_cases", "total_deaths", "total_cases_per_million", "total_deaths_per_million"]]
stats_cases

,iso_code,continent,location,total_cases,total_deaths,total_cases_per_million,total_deaths_per_million
412,AFG,Asia,Afghanistan,57160.000,2521.000,1468.339,64.760
836,OWID_AFR,NaN,Africa,4350198.000,115710.000,3244.968,86.312
1248,ALB,Europe,Albania,128393.000,2317.000,44614.984,805.129
1660,DZA,Africa,Algeria,118516.000,3130.000,2702.695,71.378
2066,AND,Europe,Andorra,12545.000,120.000,162363.295,1553.096
...,...,...,...,...,...,...,...
79394,VNM,Asia,Vietnam,2693.000,35.000,27.666,0.360
79840,OWID_WRL,NaN,World,136046624.000,2936364.000,17453.513,376.708
80207,YEM,Asia,Yemen,5357.000,1049.000,179.609,35.171
80597,ZMB,Africa,Zambia,90029.000,1226.000,4897.151,66.689
80985,ZWE,Africa,Zimbabwe,37288.000,1538.000,2508.793,103.479

In [14]:
# Final dataframe for cases vs stats
ready_stats_vs_cases = merged_country_stats.merge(stats_cases, how="inner", on=["iso_code","continent","location","total_cases"])
ready_stats_vs_cases

,iso_code,continent,location,total_cases,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,...,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,hospital_beds_per_thousand,life_expectancy,human_development_index,total_deaths,total_cases_per_million,total_deaths_per_million
0,AFG,Asia,Afghanistan,57160.000,38928341.000,54.422,18.600,2.581,1.337,1803.987,...,597.029,9.590,NaN,NaN,0.500,64.830,0.511,2521.000,1468.339,64.760
1,OWID_AFR,NaN,Africa,4350198.000,1340598113.000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,115710.000,3244.968,86.312
2,ALB,Europe,Albania,128393.000,2877800.000,104.871,38.000,13.188,8.643,11803.431,...,304.195,10.080,7.100,51.200,2.890,78.570,0.795,2317.000,44614.984,805.129
3,DZA,Africa,Algeria,118516.000,43851043.000,17.348,29.100,6.211,3.857,13913.839,...,278.364,6.730,0.700,30.400,1.900,76.880,0.748,3130.000,2702.695,71.378
4,AND,Europe,Andorra,12545.000,77265.000,163.755,NaN,NaN,NaN,NaN,...,109.135,7.970,29.000,37.800,NaN,83.730,0.868,120.000,162363.295,1553.096
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,VNM,Asia,Vietnam,2693.000,97338583.000,308.127,32.600,7.150,4.718,6171.884,...,245.465,6.000,1.000,45.900,2.600,75.400,0.704,35.000,27.666,0.360
195,OWID_WRL,NaN,World,136046624.000,7794798729.000,58.045,30.900,8.696,5.355,15469.207,...,233.070,8.510,6.434,34.635,2.705,72.580,0.737,2936364.000,17453.513,376.708
196,YEM,Asia,Yemen,5357.000,29825968.000,53.508,20.300,2.922,1.583,1479.147,...,495.003,5.350,7.600,29.200,0.700,66.120,0.470,1049.000,179.609,35.171
197,ZMB,Africa,Zambia,90029.000,18383956.000,22.995,17.700,2.480,1.542,3689.251,...,234.499,3.940,3.100,24.700,2.000,63.890,0.584,1226.000,4897.151,66.689
198,ZWE,Africa,Zimbabwe,37288.000,14862927.000,42.729,19.600,2.822,1.882,1899.775,...,307.846,1.820,1.600,30.700,1.700,61.490,0.571,1538.000,2508.793,103.479

## Global Stats vs Test data

In [15]:
# Iterate through each country, find the max numer of tests done and concatenate to new dataframe
test_stats = pd.DataFrame()
df = pd.DataFrame()

for country in countries:
    df = covid_data_df.loc[covid_data_df["location"] == country]
    num_tests = df["total_tests"].argmax()
    df = df.iloc[num_tests].to_frame().T
    test_stats = pd.concat([test_stats,df])

del df

In [16]:
# Global test data
# Drop NaN and get test columns 
test_stats = test_stats.dropna(subset=['total_tests'])
test_stats_df = test_stats[["iso_code", "continent", "location", "new_tests", "total_tests", "total_tests_per_thousand", "new_tests_per_thousand", "positive_rate", "tests_per_case", "tests_units"]]
test_stats_df

,iso_code,continent,location,new_tests,total_tests,total_tests_per_thousand,new_tests_per_thousand,positive_rate,tests_per_case,tests_units
1244,ALB,Europe,Albania,2538.000,555376.000,192.986,0.882,0.108,9.200,tests performed
2060,AND,Europe,Andorra,NaN,171485.000,2219.440,NaN,0.123,8.100,people tested
3352,ARG,South America,Argentina,32157.000,7610064.000,168.380,0.712,0.226,4.400,tests performed
3764,ARM,Asia,Armenia,4943.000,889872.000,300.304,1.668,0.214,4.700,tests performed
4652,AUS,Oceania,Australia,44549.000,15998167.000,627.382,1.747,0.000,5250.400,tests performed
...,...,...,...,...,...,...,...,...,...,...
77207,USA,North America,United States,484155.000,385064247.000,1163.327,1.463,0.070,14.300,tests performed
77604,URY,South America,Uruguay,NaN,1488362.000,428.463,NaN,0.223,4.500,tests performed
79367,VNM,Asia,Vietnam,NaN,2482302.000,25.502,NaN,NaN,NaN,samples tested
80594,ZMB,Africa,Zambia,6016.000,1286686.000,69.990,0.327,0.036,28.000,tests performed
80981,ZWE,Africa,Zimbabwe,3301.000,449264.000,30.227,0.222,0.009,117.400,tests performed

In [17]:
# Stats to merge with test data 
more_test_stats = test_stats[["iso_code", "continent", "location", "total_tests", "population", "population_density", "median_age", "aged_65_older", "aged_70_older", "gdp_per_capita", "extreme_poverty", "cardiovasc_death_rate", "diabetes_prevalence", "female_smokers", "male_smokers", "hospital_beds_per_thousand", "life_expectancy", "human_development_index"]]
more_test_stats

,iso_code,continent,location,total_tests,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,hospital_beds_per_thousand,life_expectancy,human_development_index
1244,ALB,Europe,Albania,555376.000,2877800.000,104.871,38.000,13.188,8.643,11803.431,1.100,304.195,10.080,7.100,51.200,2.890,78.570,0.795
2060,AND,Europe,Andorra,171485.000,77265.000,163.755,NaN,NaN,NaN,NaN,NaN,109.135,7.970,29.000,37.800,NaN,83.730,0.868
3352,ARG,South America,Argentina,7610064.000,45195777.000,16.177,31.900,11.198,7.441,18933.907,0.600,191.032,5.500,16.200,27.700,5.000,76.670,0.845
3764,ARM,Asia,Armenia,889872.000,2963234.000,102.931,35.700,11.232,7.571,8787.580,1.800,341.010,7.110,1.500,52.100,4.200,75.090,0.776
4652,AUS,Oceania,Australia,15998167.000,25499881.000,3.202,37.900,15.504,10.129,44648.710,0.500,107.791,5.070,13.000,16.500,3.840,83.440,0.944
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77207,USA,North America,United States,385064247.000,331002647.000,35.608,38.300,15.413,9.732,54225.446,1.200,151.089,10.790,19.100,24.600,2.770,78.860,0.926
77604,URY,South America,Uruguay,1488362.000,3473727.000,19.751,35.600,14.655,10.361,20551.409,0.100,160.708,6.930,14.000,19.900,2.800,77.910,0.817
79367,VNM,Asia,Vietnam,2482302.000,97338583.000,308.127,32.600,7.150,4.718,6171.884,2.000,245.465,6.000,1.000,45.900,2.600,75.400,0.704
80594,ZMB,Africa,Zambia,1286686.000,18383956.000,22.995,17.700,2.480,1.542,3689.251,57.500,234.499,3.940,3.100,24.700,2.000,63.890,0.584
80981,ZWE,Africa,Zimbabwe,449264.000,14862927.000,42.729,19.600,2.822,1.882,1899.775,21.400,307.846,1.820,1.600,30.700,1.700,61.490,0.571

In [18]:
# Final dataframe for test vs stats
ready_test_stats = test_stats_df.merge(more_test_stats, how="inner", on=["iso_code","continent","location","total_tests"])
ready_test_stats

,iso_code,continent,location,new_tests,total_tests,total_tests_per_thousand,new_tests_per_thousand,positive_rate,tests_per_case,tests_units,...,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,hospital_beds_per_thousand,life_expectancy,human_development_index
0,ALB,Europe,Albania,2538.000,555376.000,192.986,0.882,0.108,9.200,tests performed,...,8.643,11803.431,1.100,304.195,10.080,7.100,51.200,2.890,78.570,0.795
1,AND,Europe,Andorra,NaN,171485.000,2219.440,NaN,0.123,8.100,people tested,...,NaN,NaN,NaN,109.135,7.970,29.000,37.800,NaN,83.730,0.868
2,ARG,South America,Argentina,32157.000,7610064.000,168.380,0.712,0.226,4.400,tests performed,...,7.441,18933.907,0.600,191.032,5.500,16.200,27.700,5.000,76.670,0.845
3,ARM,Asia,Armenia,4943.000,889872.000,300.304,1.668,0.214,4.700,tests performed,...,7.571,8787.580,1.800,341.010,7.110,1.500,52.100,4.200,75.090,0.776
4,AUS,Oceania,Australia,44549.000,15998167.000,627.382,1.747,0.000,5250.400,tests performed,...,10.129,44648.710,0.500,107.791,5.070,13.000,16.500,3.840,83.440,0.944
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108,USA,North America,United States,484155.000,385064247.000,1163.327,1.463,0.070,14.300,tests performed,...,9.732,54225.446,1.200,151.089,10.790,19.100,24.600,2.770,78.860,0.926
109,URY,South America,Uruguay,NaN,1488362.000,428.463,NaN,0.223,4.500,tests performed,...,10.361,20551.409,0.100,160.708,6.930,14.000,19.900,2.800,77.910,0.817
110,VNM,Asia,Vietnam,NaN,2482302.000,25.502,NaN,NaN,NaN,samples tested,...,4.718,6171.884,2.000,245.465,6.000,1.000,45.900,2.600,75.400,0.704
111,ZMB,Africa,Zambia,6016.000,1286686.000,69.990,0.327,0.036,28.000,tests performed,...,1.542,3689.251,57.500,234.499,3.940,3.100,24.700,2.000,63.890,0.584
112,ZWE,Africa,Zimbabwe,3301.000,449264.000,30.227,0.222,0.009,117.400,tests performed,...,1.882,1899.775,21.400,307.846,1.820,1.600,30.700,1.700,61.490,0.571

## Global Stats vs Vaccine data

In [19]:
# Each country vaccine data for stats
vaccine_stats = pd.DataFrame()
df = pd.DataFrame()

for country in countries:
    df = covid_data_df.loc[covid_data_df["location"] == country]
    num_vacc = df["total_vaccinations"].argmax()
    df = df.iloc[num_vacc].to_frame().T
    vaccine_stats = pd.concat([vaccine_stats,df])

del df

In [20]:
vaccine_stats = vaccine_stats.dropna(subset=['total_vaccinations'])
vaccine_stats_df = vaccine_stats[["iso_code","continent","location","total_vaccinations","people_vaccinated","people_fully_vaccinated","total_vaccinations_per_hundred","people_vaccinated_per_hundred","people_fully_vaccinated_per_hundred"]]
vaccine_stats_df

,iso_code,continent,location,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred
408,AFG,Asia,Afghanistan,120000.000,120000.000,NaN,0.310,0.310,NaN
836,OWID_AFR,NaN,Africa,13477122.000,8962280.000,4502546.000,1.010,0.670,0.340
1247,ALB,Europe,Albania,256810.000,NaN,NaN,8.920,NaN,NaN
1609,DZA,Africa,Algeria,75000.000,NaN,NaN,0.170,NaN,NaN
2066,AND,Europe,Andorra,17091.000,NaN,NaN,22.120,NaN,NaN
...,...,...,...,...,...,...,...,...,...
78000,UZB,Asia,Uzbekistan,148642.000,148642.000,NaN,0.440,0.440,NaN
78940,VEN,South America,Venezuela,98000.000,98000.000,NaN,0.340,0.340,NaN
79392,VNM,Asia,Vietnam,58037.000,58037.000,NaN,0.060,0.060,NaN
79840,OWID_WRL,NaN,World,788189884.000,439334176.000,172417377.000,10.110,5.640,2.210
80984,ZWE,Africa,Zimbabwe,222733.000,193936.000,28797.000,1.500,1.300,0.190

In [21]:
more_vaccine_stats = vaccine_stats[["iso_code", "continent", "location", "total_vaccinations", "population", "population_density", "median_age", "aged_65_older", "aged_70_older", "gdp_per_capita", "extreme_poverty", "cardiovasc_death_rate", "diabetes_prevalence", "female_smokers", "male_smokers", "hospital_beds_per_thousand", "life_expectancy", "human_development_index"]]
more_vaccine_stats

,iso_code,continent,location,total_vaccinations,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,hospital_beds_per_thousand,life_expectancy,human_development_index
408,AFG,Asia,Afghanistan,120000.000,38928341.000,54.422,18.600,2.581,1.337,1803.987,NaN,597.029,9.590,NaN,NaN,0.500,64.830,0.511
836,OWID_AFR,NaN,Africa,13477122.000,1340598113.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1247,ALB,Europe,Albania,256810.000,2877800.000,104.871,38.000,13.188,8.643,11803.431,1.100,304.195,10.080,7.100,51.200,2.890,78.570,0.795
1609,DZA,Africa,Algeria,75000.000,43851043.000,17.348,29.100,6.211,3.857,13913.839,0.500,278.364,6.730,0.700,30.400,1.900,76.880,0.748
2066,AND,Europe,Andorra,17091.000,77265.000,163.755,NaN,NaN,NaN,NaN,NaN,109.135,7.970,29.000,37.800,NaN,83.730,0.868
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78000,UZB,Asia,Uzbekistan,148642.000,33469199.000,76.134,28.200,4.469,2.873,6253.104,NaN,724.417,7.570,1.300,24.700,4.000,71.720,0.720
78940,VEN,South America,Venezuela,98000.000,28435943.000,36.253,29.000,6.614,3.915,16745.022,NaN,204.850,6.470,NaN,NaN,0.800,72.060,0.711
79392,VNM,Asia,Vietnam,58037.000,97338583.000,308.127,32.600,7.150,4.718,6171.884,2.000,245.465,6.000,1.000,45.900,2.600,75.400,0.704
79840,OWID_WRL,NaN,World,788189884.000,7794798729.000,58.045,30.900,8.696,5.355,15469.207,10.000,233.070,8.510,6.434,34.635,2.705,72.580,0.737
80984,ZWE,Africa,Zimbabwe,222733.000,14862927.000,42.729,19.600,2.822,1.882,1899.775,21.400,307.846,1.820,1.600,30.700,1.700,61.490,0.571

In [22]:
ready_vaccine_stats = vaccine_stats_df.merge(more_vaccine_stats, how="inner", on=["iso_code","continent","location","total_vaccinations"])
ready_vaccine_stats

,iso_code,continent,location,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,population,...,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,120000.000,120000.000,NaN,0.310,0.310,NaN,38928341.000,...,1.337,1803.987,NaN,597.029,9.590,NaN,NaN,0.500,64.830,0.511
1,OWID_AFR,NaN,Africa,13477122.000,8962280.000,4502546.000,1.010,0.670,0.340,1340598113.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ALB,Europe,Albania,256810.000,NaN,NaN,8.920,NaN,NaN,2877800.000,...,8.643,11803.431,1.100,304.195,10.080,7.100,51.200,2.890,78.570,0.795
3,DZA,Africa,Algeria,75000.000,NaN,NaN,0.170,NaN,NaN,43851043.000,...,3.857,13913.839,0.500,278.364,6.730,0.700,30.400,1.900,76.880,0.748
4,AND,Europe,Andorra,17091.000,NaN,NaN,22.120,NaN,NaN,77265.000,...,NaN,NaN,NaN,109.135,7.970,29.000,37.800,NaN,83.730,0.868
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,UZB,Asia,Uzbekistan,148642.000,148642.000,NaN,0.440,0.440,NaN,33469199.000,...,2.873,6253.104,NaN,724.417,7.570,1.300,24.700,4.000,71.720,0.720
176,VEN,South America,Venezuela,98000.000,98000.000,NaN,0.340,0.340,NaN,28435943.000,...,3.915,16745.022,NaN,204.850,6.470,NaN,NaN,0.800,72.060,0.711
177,VNM,Asia,Vietnam,58037.000,58037.000,NaN,0.060,0.060,NaN,97338583.000,...,4.718,6171.884,2.000,245.465,6.000,1.000,45.900,2.600,75.400,0.704
178,OWID_WRL,NaN,World,788189884.000,439334176.000,172417377.000,10.110,5.640,2.210,7794798729.000,...,5.355,15469.207,10.000,233.070,8.510,6.434,34.635,2.705,72.580,0.737
179,ZWE,Africa,Zimbabwe,222733.000,193936.000,28797.000,1.500,1.300,0.190,14862927.000,...,1.882,1899.775,21.400,307.846,1.820,1.600,30.700,1.700,61.490,0.571

## US COVID-19 Data
From here, all data is US data.

In [23]:
# Get data from US only
covid_data_df_us = covid_data_df.loc[covid_data_df["location"] == "United States"]
covid_data_df_us

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
76767,USA,North America,United States,2020-01-22,1.000,nan,nan,nan,nan,nan,...,54225.446,1.200,151.089,10.790,19.100,24.600,nan,2.770,78.860,0.926
76768,USA,North America,United States,2020-01-23,1.000,0.000,nan,nan,nan,nan,...,54225.446,1.200,151.089,10.790,19.100,24.600,nan,2.770,78.860,0.926
76769,USA,North America,United States,2020-01-24,2.000,1.000,nan,nan,nan,nan,...,54225.446,1.200,151.089,10.790,19.100,24.600,nan,2.770,78.860,0.926
76770,USA,North America,United States,2020-01-25,2.000,0.000,nan,nan,nan,nan,...,54225.446,1.200,151.089,10.790,19.100,24.600,nan,2.770,78.860,0.926
76771,USA,North America,United States,2020-01-26,5.000,3.000,nan,nan,nan,nan,...,54225.446,1.200,151.089,10.790,19.100,24.600,nan,2.770,78.860,0.926
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77208,USA,North America,United States,2021-04-07,30922386.000,75038.000,65936.000,559202.000,2570.000,989.286,...,54225.446,1.200,151.089,10.790,19.100,24.600,nan,2.770,78.860,0.926
77209,USA,North America,United States,2021-04-08,31002264.000,79878.000,66056.571,560202.000,1000.000,979.571,...,54225.446,1.200,151.089,10.790,19.100,24.600,nan,2.770,78.860,0.926
77210,USA,North America,United States,2021-04-09,31084962.000,82698.000,67896.000,561074.000,872.000,970.000,...,54225.446,1.200,151.089,10.790,19.100,24.600,nan,2.770,78.860,0.926
77211,USA,North America,United States,2021-04-10,31151495.000,66533.000,68404.429,561783.000,709.000,969.429,...,54225.446,1.200,151.089,10.790,19.100,24.600,nan,2.770,78.860,0.926
77212,USA,North America,United States,2021-04-11,31197873.000,46378.000,70039.571,562066.000,283.000,969.286,...,54225.446,1.200,151.089,10.790,19.100,24.600,nan,2.770,78.860,0.926

In [24]:
# Date, total cases, new cases, and deaths data
covid_numbers_us_df = covid_data_df_us[["location", "date", "total_cases", "new_cases", "total_deaths", "new_deaths", "total_cases_per_million", "new_cases_per_million", "total_deaths_per_million", "new_deaths_per_million"]]
covid_numbers_us_df

,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million
76767,United States,2020-01-22,1.000,nan,nan,nan,0.003,nan,nan,nan
76768,United States,2020-01-23,1.000,0.000,nan,nan,0.003,0.000,nan,nan
76769,United States,2020-01-24,2.000,1.000,nan,nan,0.006,0.003,nan,nan
76770,United States,2020-01-25,2.000,0.000,nan,nan,0.006,0.000,nan,nan
76771,United States,2020-01-26,5.000,3.000,nan,nan,0.015,0.009,nan,nan
...,...,...,...,...,...,...,...,...,...,...
77208,United States,2021-04-07,30922386.000,75038.000,559202.000,2570.000,93420.359,226.699,1689.419,7.764
77209,United States,2021-04-08,31002264.000,79878.000,560202.000,1000.000,93661.680,241.321,1692.440,3.021
77210,United States,2021-04-09,31084962.000,82698.000,561074.000,872.000,93911.521,249.841,1695.074,2.634
77211,United States,2021-04-10,31151495.000,66533.000,561783.000,709.000,94112.525,201.004,1697.216,2.142
77212,United States,2021-04-11,31197873.000,46378.000,562066.000,283.000,94252.639,140.114,1698.071,0.855

In [25]:
# Can date be a primary key? Since all vaslues have to be unique, if the lenght of the unique array matches the length of the column date then all values are unique

if len(covid_numbers_us_df["date"].unique()) == len(covid_numbers_us_df["date"]):
    print("Date can be a primary key")
else:
    print("Date can't be a primary key")

Date can be a primary key

In [26]:
# Test data
covid_testdata_df_us = covid_data_df_us[["location", "date", "new_tests", "total_tests", "total_tests_per_thousand", "new_tests_per_thousand", "positive_rate", "tests_per_case"]]
# Keep only the rows with at least 2 non-NA values.
covid_testdata_df_us = covid_testdata_df_us.dropna(thresh=3)
covid_testdata_df_us

,location,date,new_tests,total_tests,total_tests_per_thousand,new_tests_per_thousand,positive_rate,tests_per_case
76806,United States,2020-03-01,372.000,372.000,0.001,0.001,nan,nan
76807,United States,2020-03-02,550.000,922.000,0.003,0.002,nan,nan
76808,United States,2020-03-03,933.000,1855.000,0.006,0.003,nan,nan
76809,United States,2020-03-04,924.000,2779.000,0.008,0.003,nan,nan
76810,United States,2020-03-05,1205.000,3984.000,0.012,0.004,nan,nan
...,...,...,...,...,...,...,...,...
77203,United States,2021-04-02,1210503.000,382758324.000,1156.360,3.657,0.055,18.200
77204,United States,2021-04-03,841444.000,383599768.000,1158.902,2.542,0.057,17.500
77205,United States,2021-04-04,450322.000,384050090.000,1160.263,1.360,0.057,17.500
77206,United States,2021-04-05,530002.000,384580092.000,1161.864,1.601,0.061,16.400
77207,United States,2021-04-06,484155.000,385064247.000,1163.327,1.463,0.070,14.300

In [27]:
# Checking to see if date can be a primary key

if len(covid_testdata_df_us["date"].unique()) == len(covid_testdata_df_us["date"]):
    print("Date can be a primary key")
else:
    print("Date can't be a primary key")

Date can be a primary key

In [28]:
covid_data_state = "./resources/COVID-19_Case_Surveillance_Public_Use_Data_with_Geography.csv"

covid_data_state_df = pd.read_csv(covid_data_state, low_memory=False)

covid_data_state_df

,case_month,res_state,state_fips_code,res_county,county_fips_code,age_group,sex,race,ethnicity,case_positive_specimen_interval,case_onset_interval,process,exposure_yn,current_status,symptom_status,hosp_yn,icu_yn,death_yn,underlying_conditions_yn
0,2020-02,NaN,nan,NaN,nan,NaN,NaN,NaN,NaN,nan,0.000,Missing,Missing,Laboratory-confirmed case,Symptomatic,Yes,Missing,NaN,NaN
1,2020-02,NaN,nan,NaN,nan,NaN,NaN,NaN,NaN,3.000,0.000,Clinical evaluation,Yes,Laboratory-confirmed case,Symptomatic,Yes,Yes,NaN,Yes
2,2020-02,NaN,nan,NaN,nan,NaN,NaN,NaN,NaN,nan,0.000,Clinical evaluation,Missing,Laboratory-confirmed case,Symptomatic,Yes,No,NaN,Yes
3,2020-08,NaN,nan,NaN,nan,NaN,NaN,NaN,NaN,0.000,nan,Routine surveillance,Missing,Laboratory-confirmed case,Asymptomatic,No,No,Missing,Yes
4,2020-08,NaN,nan,NaN,nan,NaN,NaN,NaN,NaN,0.000,nan,Routine surveillance,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22507134,2020-12,AZ,4.000,YUMA,4027.000,65+ years,Male,White,Non-Hispanic/Latino,nan,nan,Missing,Missing,Laboratory-confirmed case,Missing,Yes,Missing,Yes,NaN
22507135,2020-12,AZ,4.000,YUMA,4027.000,65+ years,Male,White,Non-Hispanic/Latino,nan,nan,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Yes,NaN
22507136,2020-12,AZ,4.000,YUMA,4027.000,65+ years,Male,White,Non-Hispanic/Latino,nan,nan,Missing,Missing,Laboratory-confirmed case,Missing,Yes,Missing,Yes,NaN
22507137,2020-12,AZ,4.000,YUMA,4027.000,65+ years,Male,White,Non-Hispanic/Latino,nan,nan,Missing,Missing,Laboratory-confirmed case,Missing,Yes,Missing,Yes,NaN
22507138,2020-12,AZ,4.000,YUMA,4027.000,65+ years,Male,White,Non-Hispanic/Latino,nan,nan,Missing,Missing,Laboratory-confirmed case,Missing,Yes,Missing,Yes,NaN

In [29]:
# California data
covid_data_CA = covid_data_state_df.loc[covid_data_state_df["res_state"] == "CA"]
covid_data_CA

,case_month,res_state,state_fips_code,res_county,county_fips_code,age_group,sex,race,ethnicity,case_positive_specimen_interval,case_onset_interval,process,exposure_yn,current_status,symptom_status,hosp_yn,icu_yn,death_yn,underlying_conditions_yn
205,2020-12,CA,6.000,NaN,nan,Missing,NaN,NaN,NaN,nan,0.000,Missing,Missing,Laboratory-confirmed case,Symptomatic,Yes,Missing,NaN,NaN
206,2020-12,CA,6.000,NaN,nan,Missing,NaN,NaN,NaN,nan,nan,Missing,Missing,Laboratory-confirmed case,Unknown,No,Missing,NaN,NaN
207,2020-12,CA,6.000,NaN,nan,NaN,NaN,NaN,NaN,nan,0.000,Missing,Missing,Laboratory-confirmed case,Symptomatic,Yes,Unknown,NaN,NaN
7413,2020-03,CA,6.000,BUTTE,6007.000,NaN,NaN,NaN,NaN,nan,0.000,Missing,Missing,Laboratory-confirmed case,Symptomatic,No,Missing,No,NaN
7414,2020-03,CA,6.000,BUTTE,6007.000,NaN,NaN,NaN,NaN,nan,0.000,Missing,Missing,Laboratory-confirmed case,Symptomatic,Yes,No,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22506961,2020-12,CA,6.000,YOLO,6113.000,65+ years,Male,White,Non-Hispanic/Latino,nan,nan,Missing,Missing,Laboratory-confirmed case,Unknown,No,Missing,NaN,NaN
22506962,2020-12,CA,6.000,YOLO,6113.000,65+ years,Male,White,Non-Hispanic/Latino,nan,0.000,Missing,Missing,Laboratory-confirmed case,Symptomatic,Yes,Yes,NaN,NaN
22506963,2020-12,CA,6.000,YOLO,6113.000,65+ years,Male,White,Non-Hispanic/Latino,nan,nan,Missing,Missing,Laboratory-confirmed case,Unknown,Yes,Yes,NaN,NaN
22506964,2020-12,CA,6.000,YOLO,6113.000,65+ years,Male,White,Non-Hispanic/Latino,nan,nan,Missing,Missing,Laboratory-confirmed case,Unknown,Yes,Missing,NaN,NaN
22506965,2020-12,CA,6.000,YOLO,6113.000,65+ years,Male,White,Non-Hispanic/Latino,nan,nan,Missing,Missing,Laboratory-confirmed case,Unknown,Yes,Missing,NaN,NaN

In [52]:
# Add day to case_moth column
pd.to_datetime(covid_data_CA['case_month'])

205        2020-12-01
206        2020-12-01
207        2020-12-01
7413       2020-03-01
7414       2020-03-01
              ...
22506961   2020-12-01
22506962   2020-12-01
22506963   2020-12-01
22506964   2020-12-01
22506965   2020-12-01
Name: case_month, Length: 3547519, dtype: datetime64[ns]

In [53]:
covid_data_CA

,case_month,res_state,state_fips_code,res_county,county_fips_code,age_group,sex,race,ethnicity,case_positive_specimen_interval,case_onset_interval,process,exposure_yn,current_status,symptom_status,hosp_yn,icu_yn,death_yn,underlying_conditions_yn
205,2020-12-01,CA,6.000,NaN,nan,Missing,NaN,NaN,NaN,nan,0.000,Missing,Missing,Laboratory-confirmed case,Symptomatic,Yes,Missing,NaN,NaN
206,2020-12-01,CA,6.000,NaN,nan,Missing,NaN,NaN,NaN,nan,nan,Missing,Missing,Laboratory-confirmed case,Unknown,No,Missing,NaN,NaN
207,2020-12-01,CA,6.000,NaN,nan,NaN,NaN,NaN,NaN,nan,0.000,Missing,Missing,Laboratory-confirmed case,Symptomatic,Yes,Unknown,NaN,NaN
7413,2020-03-01,CA,6.000,BUTTE,6007.000,NaN,NaN,NaN,NaN,nan,0.000,Missing,Missing,Laboratory-confirmed case,Symptomatic,No,Missing,No,NaN
7414,2020-03-01,CA,6.000,BUTTE,6007.000,NaN,NaN,NaN,NaN,nan,0.000,Missing,Missing,Laboratory-confirmed case,Symptomatic,Yes,No,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22506961,2020-12-01,CA,6.000,YOLO,6113.000,65+ years,Male,White,Non-Hispanic/Latino,nan,nan,Missing,Missing,Laboratory-confirmed case,Unknown,No,Missing,NaN,NaN
22506962,2020-12-01,CA,6.000,YOLO,6113.000,65+ years,Male,White,Non-Hispanic/Latino,nan,0.000,Missing,Missing,Laboratory-confirmed case,Symptomatic,Yes,Yes,NaN,NaN
22506963,2020-12-01,CA,6.000,YOLO,6113.000,65+ years,Male,White,Non-Hispanic/Latino,nan,nan,Missing,Missing,Laboratory-confirmed case,Unknown,Yes,Yes,NaN,NaN
22506964,2020-12-01,CA,6.000,YOLO,6113.000,65+ years,Male,White,Non-Hispanic/Latino,nan,nan,Missing,Missing,Laboratory-confirmed case,Unknown,Yes,Missing,NaN,NaN
22506965,2020-12-01,CA,6.000,YOLO,6113.000,65+ years,Male,White,Non-Hispanic/Latino,nan,nan,Missing,Missing,Laboratory-confirmed case,Unknown,Yes,Missing,NaN,NaN

## COVID-19 US Vactination Data

In [7]:
us_vaccination = "./resources/us_state_vaccinations.csv"

us_vaccination_df = pd.read_csv(us_vaccination)

us_vaccination_df

,date,location,total_vaccinations,total_distributed,people_vaccinated,people_fully_vaccinated_per_hundred,total_vaccinations_per_hundred,people_fully_vaccinated,people_vaccinated_per_hundred,distributed_per_hundred,daily_vaccinations_raw,daily_vaccinations,daily_vaccinations_per_million,share_doses_used
0,2021-01-12,Alabama,78134.0,377025.0,70861.0,0.15,1.59,7270.0,1.45,7.69,NaN,NaN,NaN,0.207
1,2021-01-13,Alabama,84040.0,378975.0,74792.0,0.19,1.71,9245.0,1.53,7.73,5906.0,5906.0,1205.0,0.222
2,2021-01-14,Alabama,92300.0,435350.0,80480.0,NaN,1.88,NaN,1.64,8.88,8260.0,7083.0,1445.0,0.212
3,2021-01-15,Alabama,100567.0,444650.0,86956.0,0.28,2.05,13488.0,1.77,9.07,8267.0,7478.0,1525.0,0.226
4,2021-01-16,Alabama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7557.0,7498.0,1529.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5933,2021-04-08,Wyoming,288814.0,436025.0,169230.0,20.75,49.90,120094.0,29.24,75.34,228.0,2655.0,4587.0,0.662
5934,2021-04-09,Wyoming,289028.0,447855.0,169409.0,20.78,49.94,120246.0,29.27,77.38,214.0,2633.0,4549.0,0.645
5935,2021-04-10,Wyoming,289340.0,450525.0,169683.0,20.83,49.99,120534.0,29.32,77.84,312.0,2640.0,4561.0,0.642
5936,2021-04-11,Wyoming,310702.0,450525.0,180223.0,22.80,53.68,131933.0,31.14,77.84,21362.0,3431.0,5928.0,0.690
5937,2021-04-12,Wyoming,310765.0,450525.0,180275.0,22.81,53.70,131994.0,31.15,77.84,63.0,3400.0,5875.0,0.690

In [8]:
us_vaccination_df.dropna()

,date,location,total_vaccinations,total_distributed,people_vaccinated,people_fully_vaccinated_per_hundred,total_vaccinations_per_hundred,people_fully_vaccinated,people_vaccinated_per_hundred,distributed_per_hundred,daily_vaccinations_raw,daily_vaccinations,daily_vaccinations_per_million,share_doses_used
1,2021-01-13,Alabama,84040.0,378975.0,74792.0,0.19,1.71,9245.0,1.53,7.73,5906.0,5906.0,1205.0,0.222
3,2021-01-15,Alabama,100567.0,444650.0,86956.0,0.28,2.05,13488.0,1.77,9.07,8267.0,7478.0,1525.0,0.226
7,2021-01-19,Alabama,130795.0,444650.0,114319.0,0.33,2.67,16346.0,2.33,9.07,7557.0,7523.0,1534.0,0.294
8,2021-01-20,Alabama,139200.0,483275.0,121113.0,0.37,2.84,17956.0,2.47,9.86,8405.0,7880.0,1607.0,0.288
9,2021-01-21,Alabama,165919.0,493125.0,144429.0,0.44,3.38,21345.0,2.95,10.06,26719.0,10517.0,2145.0,0.336
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5933,2021-04-08,Wyoming,288814.0,436025.0,169230.0,20.75,49.90,120094.0,29.24,75.34,228.0,2655.0,4587.0,0.662
5934,2021-04-09,Wyoming,289028.0,447855.0,169409.0,20.78,49.94,120246.0,29.27,77.38,214.0,2633.0,4549.0,0.645
5935,2021-04-10,Wyoming,289340.0,450525.0,169683.0,20.83,49.99,120534.0,29.32,77.84,312.0,2640.0,4561.0,0.642
5936,2021-04-11,Wyoming,310702.0,450525.0,180223.0,22.80,53.68,131933.0,31.14,77.84,21362.0,3431.0,5928.0,0.690
5937,2021-04-12,Wyoming,310765.0,450525.0,180275.0,22.81,53.70,131994.0,31.15,77.84,63.0,3400.0,5875.0,0.690

In [31]:
ca_us_vaccination_df = us_vaccination_df.loc[us_vaccination_df["location"] == "California"]
ca_us_vaccination_df

,date,location,total_vaccinations,total_distributed,people_vaccinated,people_fully_vaccinated_per_hundred,total_vaccinations_per_hundred,people_fully_vaccinated,people_vaccinated_per_hundred,distributed_per_hundred,daily_vaccinations_raw,daily_vaccinations,daily_vaccinations_per_million,share_doses_used
546,2021-01-12,California,816301.000,3286050.000,703540.000,0.250,2.070,100089.000,1.780,8.320,nan,nan,nan,0.248
547,2021-01-13,California,891489.000,3435650.000,744545.000,0.340,2.260,133689.000,1.880,8.700,75188.000,75188.000,1903.000,0.259
548,2021-01-14,California,975293.000,3540175.000,801998.000,nan,2.470,nan,2.030,8.960,83804.000,79496.000,2012.000,0.275
549,2021-01-15,California,1072959.000,3548575.000,865387.000,0.520,2.720,204374.000,2.190,8.980,97666.000,85553.000,2165.000,0.302
550,2021-01-16,California,nan,nan,nan,nan,nan,nan,nan,nan,96867.750,88381.000,2237.000,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
632,2021-04-08,California,21243518.000,27861050.000,14123008.000,19.230,53.760,7599559.000,35.740,70.510,377626.000,377051.000,9543.000,0.762
633,2021-04-09,California,21725654.000,28532520.000,14445185.000,19.800,54.980,7822226.000,36.560,72.210,482136.000,391393.000,9906.000,0.761
634,2021-04-10,California,22281619.000,29034050.000,14803675.000,20.530,56.390,8110488.000,37.470,73.480,555965.000,404572.000,10239.000,0.767
635,2021-04-11,California,22754163.000,29034050.000,15123816.000,21.090,57.590,8332396.000,38.280,73.480,472544.000,398820.000,10094.000,0.784
636,2021-04-12,California,23031055.000,29034050.000,15320888.000,21.410,58.290,8459357.000,38.780,73.480,276892.000,388844.000,9841.000,0.793

In [5]:
vaccination_by_man = "./resources/vaccinations-by-manufacturer.csv"

vaccination_by_man_df = pd.read_csv(vaccination_by_man)

vaccination_by_man_df

           location        date          vaccine  total_vaccinations
0             Chile  2020-12-24  Pfizer/BioNTech                 420
1             Chile  2020-12-25  Pfizer/BioNTech                5198
2             Chile  2020-12-26  Pfizer/BioNTech                8338
3             Chile  2020-12-27  Pfizer/BioNTech                8649
4             Chile  2020-12-28  Pfizer/BioNTech                8649
...             ...         ...              ...                 ...
2261  United States  2021-04-10          Moderna            82622178
2262  United States  2021-04-10  Pfizer/BioNTech            94715143
2263  United States  2021-04-11  Johnson&Johnson             6453740
2264  United States  2021-04-11          Moderna            83847244
2265  United States  2021-04-11  Pfizer/BioNTech            96586783

[2266 rows x 4 columns]

In [33]:
vaccination_by_man_us_df =  vaccination_by_man_df.loc[vaccination_by_man_df["location"] == "United States"]
vaccination_by_man_us_df

           location        date          vaccine  total_vaccinations
2061  United States  2021-01-12          Moderna             3835859
2062  United States  2021-01-12  Pfizer/BioNTech             5488697
2063  United States  2021-01-13          Moderna             4249795
2064  United States  2021-01-13  Pfizer/BioNTech             6025872
2065  United States  2021-01-15          Moderna             5122662
...             ...         ...              ...                 ...
2261  United States  2021-04-10          Moderna            82622178
2262  United States  2021-04-10  Pfizer/BioNTech            94715143
2263  United States  2021-04-11  Johnson&Johnson             6453740
2264  United States  2021-04-11          Moderna            83847244
2265  United States  2021-04-11  Pfizer/BioNTech            96586783

[205 rows x 4 columns]

## Auxiliar dataframes

In [21]:
postal_names = "./resources/postalStatesNames.csv"

postal_names_df = pd.read_csv(postal_names)

postal_names_df

                   State  Abbrev Code
0                Alabama    Ala.   AL
1                 Alaska  Alaska   AK
2                Arizona   Ariz.   AZ
3               Arkansas    Ark.   AR
4             California  Calif.   CA
5               Colorado   Colo.   CO
6            Connecticut   Conn.   CT
7               Delaware    Del.   DE
8   District of Columbia    D.C.   DC
9                Florida    Fla.   FL
10               Georgia     Ga.   GA
11                Hawaii  Hawaii   HI
12                 Idaho   Idaho   ID
13              Illinois    Ill.   IL
14               Indiana    Ind.   IN
15                  Iowa    Iowa   IA
16                Kansas   Kans.   KS
17              Kentucky     Ky.   KY
18             Louisiana     La.   LA
19                 Maine   Maine   ME
20              Maryland     Md.   MD
21         Massachusetts   Mass.   MA
22              Michigan   Mich.   MI
23             Minnesota   Minn.   MN
24           Mississippi   Miss.   MS
25              Missouri     Mo.   MO
26               Montana   Mont.   MT
27              Nebraska   Nebr.   NE
28                Nevada    Nev.   NV
29         New Hampshire    N.H.   NH
30            New Jersey    N.J.   NJ
31            New Mexico    N.M.   NM
32              New York    N.Y.   NY
33        North Carolina    N.C.   NC
34          North Dakota    N.D.   ND
35                  Ohio    Ohio   OH
36              Oklahoma   Okla.   OK
37                Oregon    Ore.   OR
38          Pennsylvania     Pa.   PA
39          Rhode Island    R.I.   RI
40        South Carolina    S.C.   SC
41          South Dakota    S.D.   SD
42             Tennessee   Tenn.   TN
43                 Texas    Tex.   TX
44                  Utah    Utah   UT
45               Vermont     Vt.   VT
46              Virginia     Va.   VA
47            Washington   Wash.   WA
48         West Virginia   W.Va.   WV
49             Wisconsin    Wis.   WI
50               Wyoming    Wyo.   WY

## Inserting tables in PostgreSQL

In [1]:
import os
from sqlalchemy import create_engine
# dotenv adds .env variables to the environment
from dotenv import load_dotenv

# Load variables
load_dotenv()
key = os.environ['KEY']

# Create engine and connect to PostgreSQL
engine = create_engine('postgresql://postgres:'+key+'@localhost:5432/covid-19-db')
connection = engine.connect()

### Global stats tables
For now, location will be set as the primary key of these tables just to make sure countries are not repeated. These tables will be used for statistical analysis accross countries.

In [34]:
ready_stats_vs_cases.to_sql('global_cases_vs_stats', con=engine, if_exists='replace', index=False)

In [56]:
connection.execute('ALTER TABLE global_cases_vs_stats ADD PRIMARY KEY (location);')

In [35]:
ready_test_stats.to_sql('global_tests_vs_stats', con=engine, if_exists='replace', index=False)

In [57]:
connection.execute('ALTER TABLE global_tests_vs_stats ADD PRIMARY KEY (location);')

In [36]:
ready_vaccine_stats.to_sql('global_vaccines_vs_stats', con=engine, if_exists='replace', index=False)

In [58]:
connection.execute('ALTER TABLE global_vaccines_vs_stats ADD PRIMARY KEY (location);')

In [7]:
vaccination_by_man_df.to_sql('all_vaccines', con=engine, if_exists='replace', index=False)

In [8]:
connection.execute('ALTER TABLE vaccines_man ALTER COLUMN date TYPE DATE USING date::date;')

### US tables
Date type is set as text by deafault on PostgreSQL, we need to change it to date type, and make it a primary key to ensure that future joins will keep the integrity of the data.

In [37]:
covid_numbers_us_df.to_sql('us_cases', con=engine, if_exists='replace', index=False)

In [43]:
connection.execute('ALTER TABLE us_cases ALTER COLUMN date TYPE DATE USING date::date;')

In [49]:
connection.execute('ALTER TABLE us_cases ADD PRIMARY KEY (date);')

In [38]:
covid_testdata_df_us.to_sql('us_tests', con=engine, if_exists='replace', index=False)

In [44]:
connection.execute('ALTER TABLE us_tests ALTER COLUMN date TYPE DATE USING date::date;')

In [50]:
connection.execute('ALTER TABLE us_tests ADD PRIMARY KEY (date);')

In [41]:
vaccination_by_man_us_df.to_sql('vaccines_man', con=engine, if_exists='replace', index=False)

In [42]:
connection.execute('ALTER TABLE vaccines_man ALTER COLUMN date TYPE DATE USING date::date;')

### CA tables
Change date from text type to date type.

In [54]:
covid_data_CA.to_sql('ca_cases', con=engine, if_exists='replace', index=False)

In [55]:
connection.execute('ALTER TABLE ca_cases ALTER COLUMN case_month TYPE DATE USING case_month::date;')

In [40]:
ca_us_vaccination_df.to_sql('ca_vaccines', con=engine, if_exists='replace', index=False)

In [48]:
connection.execute('ALTER TABLE ca_vaccines ALTER COLUMN date TYPE DATE USING date::date;')

In [6]:
us_vaccination_df.to_sql('states_vaccinations', con=engine, if_exists='replace', index=False)

### Auxiliar tables

In [22]:
postal_names_df.to_sql('postal_names', con=engine, if_exists='replace', index=False)